.advantages {
	font-size: @fz-text;
	line-height: @lh-text;
	color: @light-text;
	background-color: @advantages;
}

.advantages__wrapper {
	width: 820px;
	margin: 0 auto;
}

.advantages__list {
	.set-ul();
}

.advantages__item {
	width: 400px;
}

.advantages__title {
	.set();
	text-transform: uppercase;
}

.advantages__text {
	.set();
	text-align: justify;
}