.button {
	padding-left: 70px;
	padding-right: 70px;
	font-family: @ff-btn, serif;
	font-size: @fz-btn;
	line-height: @lh-btn;
	color: #ffffff;
	background-color: @dark-btn;
	border: none;
	border-radius: 30px;
	&--light {
		padding-left: 105px;
		padding-right: 105px;
		background-color: @light-btn;
		color: #d54c63;
	}
}

.button__desc {
	display: block;
	font-size: 11px;
	line-height: 16px;
	color: @light-text;
}