.experience {
	background-color: @light-dark;
}

.experience__title {
	.set();
	font-size: @fz-title;
	font-weight: 400;
	line-height: 48px;
	color: @light-text;
}

.experience__text {
	.set();
	font-size: 20px;
	line-height: 33px;
	color: #a87bb7;
}

.experience__desc {
	display: block;
	font-size: 11px;
	line-height: 16px;
	color: @light-text;
}