.mail {
	font-size: @fz-text;
	line-height: @lh-text;
	color: @light-text;
	background-color: @bright;
}

.mail__wrapper {
	width: 1180px;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 250px;
}

.mail__wrapp {
	width: 460px;
}

.mail__title {
	.set();
	margin-bottom: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.mail__text {
	.set();
	margin-bottom: 35px;
}

.mail__link {
	color: @light-text;
	&:hover,
	&:focus {
		text-decoration: none;
	}
	&:active {
		color: fade(@light-text, 80%);
	}
}