.offer {
	color: @light-text;
	background-color: @bright;
	background-image: url("../../img/offer-bg.jpg");
}

.offer__wrapper {
	width: 620px;
	margin: 0 auto;
	padding-top: 150px;
	text-align: center;
}

.offer__title {
	.set();
	margin-bottom: 15px;
	font-size: 35px;
	line-height: 60px;
	font-weight: 400;
}

.offer__text {
	.set();
	margin-bottom: 30px;
	font-size: @fz-text;
	line-height: @lh-text;
}

.offer__button {
	margin-bottom: 190px;
}