.offer {
	color: @light-text;
	background-color: @bright;
}

.offer__wrapper {
	width: 620px;
	margin: 0 auto;
	text-align: center;
}

.offer__title {
	.set();
	font-size: 35px;
	line-height: 60px;
	font-weight: 400;
}

.offer__text {
	.set();
	font-size: @fz-text;
	line-height: @lh-text;
}