.portfolio {
	color: @light-text;
	background-color: @dark;
}

.portfolio__wrapper {
	width: 460px;
}

.portfolio__button {
	padding: 10px 30px;
	font-size: 13px;
	font-weight: 600;
	color: @light-text;
	background-color: @dark;
	border-radius: 30px;
	border: 2px solid #ffffff;
}

.portfolio__title {
	.set();
	font-size: 35px;
	line-height: 50px;
}

.portfolio__author-name {
	font-size: 13px;
	font-weight: 600;
	line-height: 40px;
}