input[type="search"]::-moz-placeholder { 
	font-size: 12px;
	color: #626262; 
}
input[type="search"]::-webkit-input-placeholder { 
	font-size: 12px;
	color: #626262; 
}
input[type="search"]:-ms-input-placeholder { 
	font-size: 12px;
	color: #626262; 
}
input[type="search"]::-ms-input-placeholder { 
	font-size: 12px;
	color: #626262; 
}
input[type="search"]::placeholder { 
	font-size: 12px;
	color: #626262; 
}

.search {
	position: relative;
	margin-left: -30px;
}

.search__field {

	width: 215px;
	padding: 10px 25px;
	border: none;
	border-radius: 25px;
}

.search__button {
	position: absolute;
	top: 12px;
	right: 15px;
	width: 14px;
	height: 13px;
	background-color: transparent;
	background-image: url("../img/search-solid.svg");
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
}