.site-list {
	display: flex;
	flex-wrap: wrap;
	width: 400px;
	.set-ul();
}

.site-list__item {
	margin-right: 30px;
}

.site-list__link {
	font-size: @fz-menu;
	line-height: 24px;
	color: @light-text;
	text-decoration: none;
}